// UCSD branding colors
// http://ucpa.ucsd.edu/brand/elements/color-palette/
$navy:      #182B49;
$blue:      #006A96;
$gold:      #C69214;
$yellow:    #FFCD00;
$black:     #000000;
$gray:      #747678;
$silver:    #B6B1A9;
