$height-small:  36rem;
$height-medium: 0;
$height-large:  0;
$width-small:  27rem;
$width-medium: 40rem;
$width-large:  60rem;

@mixin breakpoint($size) {
    @if $size == "height-small" {
        @media only screen and (min-height: $height-small) { @content; }
    }
    @else if $size == "height-medium" {
        @media only screen and (min-height: $height-medium) { @content; }
    }
    @else if $size == "height-large" {
        @media only screen and (min-height: $height-large) { @content; }
    }
    @else if $size == "width-small" {
        @media only screen and (min-width: $width-small) { @content; }
    }
    @else if $size == "width-medium" {
        @media only screen and (min-width: $width-medium) { @content; }
    }
    @else if $size == "width-large" {
        @media only screen and (min-width: $width-large) { @content; }
    }
    @else {
        @warn "Breakpoint mixin only supports: height-small, height-medium, height-large, width-small, width-medium, width-large.";
    }
}
