#topbar {
    height: $tile-height;

    border-bottom: $border-size solid black;

    display: grid;
    grid-template-columns: $tile-height 1fr;

    > button {
        height: $menu-button-size;
        width: $menu-button-size;

        grid-column: 1 / 2;
        justify-self: center;
        align-self: center;
        background-image: url("../images/plusfinal.png");
        background-size: 100%;
    }

    > #coursolidated {
        font-weight: 300;
        font-size: 3.6rem;
        padding-left: .5rem;
    }
}
