@import 'breakpoints';
@import 'transforms';
@import 'colors';
@import 'sizes';
@import 'calc';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.menu {
    position: absolute;
    height: 100vh;
    width: $menu-width-small;
    @include breakpoint(small) {
        width: $menu-width-medium;
    }
    @include breakpoint(medium) {
        width: $menu-width-large;
    }

    background-color: white;
    border-right: 2px solid black;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

    > .menu-top {
        height: $tile-height;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr $tile-height;

        > div {
            grid-column: 1 / 2;
            justify-self: center;
            align-self: center;
        }

        > button {
            height: $menu-button-size;
            width: $menu-button-size;

            grid-column: 2 / 3;
            justify-self: center;
            align-self: center;
        }
    }

    > .menu-content {
        @include calc(height, '100% - #{$tile-height}');
        @include calc(width, '#{$menu-width-small} - #{$border-size}');
        @include breakpoint(small) {
            @include calc(width, '#{$menu-width-medium} - #{$border-size}');
        }
        @include breakpoint(medium) {
            @include calc(width, '#{$menu-width-large} - #{$border-size}');
        }

        overflow-y: scroll;

        > * {
            height: $tile-height;
            width: 100%;
            background-color: white;
        }
    }


    &#main-menu {
        @include calc(left, '-#{$menu-width-small} + #{$tile-height} + #{$border-size}');
        @include breakpoint(small) {
            @include calc(left, '-#{$menu-width-medium} + #{$tile-height} + #{$border-size}');
        }
        @include breakpoint(medium) {
            @include calc(left, '-#{$menu-width-large} + #{$tile-height} + #{$border-size}');
        }
        z-index: 2;

        > .menu-content {
            @include calc(width, '#{$menu-width-small} - #{$tile-height} - #{$border-size}');
            @include breakpoint(small) {
                @include calc(width, '#{$menu-width-medium} - #{$tile-height} - #{$border-size}');
            }
            @include breakpoint(medium) {
                @include calc(width, '#{$menu-width-large} - #{$tile-height} - #{$border-size}');
            }
        }
    }
    &#profile-menu, &#majors-menu, &#minors-menu, &#gened-menu, &#catalog-menu, &#toadd-menu, &#settings-menu {
        left: -$menu-width-small;
        @include breakpoint(small) {
            left: -$menu-width-medium;
        }
        @include breakpoint(medium) {
            left: -$menu-width-large;
        }
        z-index: 3;
    }
}

main {
    height: 100vh;
    margin-left: $tile-height;

    > #topbar {
        height: $tile-height;

        border-bottom: $border-size solid black;
    }

    > #schedule {
        @include calc(height, '100vh - #{$tile-height}');
        overflow-y: scroll;

        display: grid;
        grid-template-rows: repeat(5, 1fr);

        > .year {
            display: grid;
            grid-template-columns: repeat(2, 2rem) 1fr ;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: $border-size;

            border-width: $border-size 0;
            border-style: solid;
            border-color: $gray;

            > .year-label {
                width: 8rem;

                grid-column: 1 / 2;
                grid-row: 1 / 4;
                justify-self: center;
                align-self: center;

                @include transform(rotate(270deg));
                text-align: center;
            }

            > .quarter-label {
                width: 4rem;

                grid-column: 2 / 3;
                justify-self: center;
                align-self: center;

                @include transform(rotate(270deg));
                text-align: center;
            }

            > .quarter {
                height: 6em;

                grid-column: 3 / 4;
                &.fall {
                    grid-row: 1 / 2;
                }
                &.winter {
                    grid-row: 2 / 3;
                }
                &.spring {
                    grid-row: 3 / 4;
                }
            }
        }
    }
}
