@import 'breakpoints';
@import 'transforms';
@import 'colors';
@import 'sizes';
@import 'calc';

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

#topbar {
    position: fixed;
    z-index: 5;
    height: $topbar-height;
    width: 100vw;

    display: grid;
    grid-template-columns: $topbar-height 1fr;

    background-color: white;
    border-bottom: $topbar-border-height solid $gray;

    > #menu-top {
        position: fixed;
        @include calc(height, '#{$topbar-height} - #{$topbar-border-height}');
        width: $menu-width;
        @include calc(left, '-#{$menu-width} + #{$topbar-height}');

        display: grid;
        grid-template-columns: $topbar-height 1fr $topbar-height;

        > button {
            height: $menu-button-size;
            width: $menu-button-size;

            grid-column: 3 / 4;
            justify-self: center;
            align-self: center;
        }
    }
}

#menu {
    position: fixed;
    z-index: 1;
    @include calc(height, '100vh - #{$topbar-height}');
    width: $menu-width;
    @include calc(top, '#{$topbar-height}');
    left: -$menu-width;

    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 2px;

    background-color: black;
    > button {
        background-color: white;
    }

    overflow-x: hidden;
}

main {
    padding-top: $topbar-height;

    #schedule {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-row-gap: 2px;

        > .year {
            display: grid;
            grid-template-columns: repeat(2, 2rem) 1fr ;
            grid-template-rows: repeat(3, 1fr);
            grid-row-gap: 2px;

            > .quarter-label {
                width: 4rem;

                grid-column: 2 / 3;
                justify-self: center;
                align-self: center;

                @include transform(rotate(270deg));
                text-align: center;
            }

            > .quarter {
                height: 6em;
                border: 2px solid black;

                grid-column: 3 / 4;
                &.fall {
                    grid-row: 1 / 2;
                    //background-color: $navy;
                }
                &.winter {
                    grid-row: 2 / 3;
                    //background-color: $blue;
                }
                &.spring {
                    grid-row: 3 / 4;
                    //background-color: $gold;
                }
            }
        }
    }
}
