<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <!-- ensures that the site has no horizontal scrolling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!-- totally more pragmatic than Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="menu" id="main-menu">
            <div class="menu-top">
                <button></button>
            </div>
            <div class="menu-content">
                <button>Profile</button>
                <button>Majors</button>
                <button>Minors</button>
                <button>Gen Ed</button>
                <button>Catalog</button>
                <button>To Add</button>
                <button>Settings</button>
            </div>
        </div>
        <div class="menu" id="profile-menu">

        </div>
        <div class="menu" id="majors-menu">

        </div>
        <div class="menu" id="minors-menu">

        </div>
        <div class="menu" id="gened-menu">

        </div>
        <div class="menu" id="catalog-menu">

        </div>
        <div class="menu" id="toadd-menu">

        </div>
        <div class="menu" id="settings-menu">

        </div>
        <main>
            <div id="topbar">

            </div>
            <div id="schedule">
                <div class="year" id="1">
					<div class="year-label">year 1</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="1-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="1-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="1-spring">

                    </div>
                </div>
                <div class="year" id="2">
					<div class="year-label">year 2</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="2-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="2-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="2-spring">

                    </div>
                </div>
                <div class="year" id="3">
					<div class="year-label">year 3</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="3-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="3-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="3-spring">

                    </div>
                </div>
                <div class="year" id="4">
					<div class="year-label">year 4</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="4-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="4-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="4-spring">

                    </div>
                </div>
                <div class="year" id="5">
					<div class="year-label">year 5</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="5-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="5-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="5-spring">

                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
