<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <!-- ensures that the site has no horizontal scrolling -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <!-- totally more pragmatic than Reset -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div class="menu" id="main-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Menu</div>
            </div>
            <div class="menu-content">
                <button>Profile</button>
                <button>Majors</button>
                <button>Minors</button>
                <button>Gen Ed</button>
                <button>Catalog</button>
                <button>To Add</button>
                <button>Settings</button>
            </div>
        </div>
        <div class="menu" id="profile-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Profile</div>
            </div>
            <div class="menu-content">
                <div>This is your profile:<br>You are awesome!</div>
            </div>
        </div>
        <div class="menu" id="majors-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Majors</div>
            </div>
            <div class="menu-content">
                <div class="choice">
                    <button class="name">Cognitive Science</button>
                    <button class="confirm">Confirm</button>
                </div>
                <div class="choice">
                    <button class="name">Not Cognitive Science</button>
                    <button class="confirm">Confirm</button>
                </div>
            </div>
        </div>
        <div class="menu" id="minors-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Minors</div>
            </div>
            <div class="menu-content">
            </div>
        </div>
        <div class="menu" id="gened-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Gen Ed</div>
            </div>
            <div class="menu-content">
            </div>
        </div>
        <div class="menu" id="catalog-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Catalog</div>
            </div>
            <div class="menu-content">
                <div>This is where you can locate any course offered at UCSD.</div>
                <div>There will be a search bar at the top,</div>
            </div>
        </div>
        <div class="menu" id="toadd-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>To Add</div>
            </div>
            <div class="menu-content">
                <div>

                </div>
            </div>
        </div>
        <div class="menu" id="settings-menu">
            <div class="menu-top">
                <button>&lt;</button>
                <div>Settings</div>
            </div>
            <div class="menu-content">
                <div>This is where you can adjust colors or something.</div>
            </div>
        </div>
        <div id="topbar">
            <button></button>
            <div id="tabs">

            </div>
        </div>
        <main>
            <div id="info">

            </div>
            <div id="schedule">
                <div class="year" id="1">
					<div class="year-label">2017–2018</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="1-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="1-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="1-spring">

                    </div>
                </div>
                <div class="year" id="2">
					<div class="year-label">2018–2019</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="2-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="2-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="2-spring">

                    </div>
                </div>
                <div class="year" id="3">
					<div class="year-label">2019–2020</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="3-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="3-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="3-spring">

                    </div>
                </div>
                <div class="year" id="4">
					<div class="year-label">2020–2021</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="4-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="4-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="4-spring">

                    </div>
                </div>
                <div class="year" id="5">
					<div class="year-label">2021–2022</div>
					<div class="quarter-label">fall</div>
                    <div class="quarter fall" id="5-fall">

                    </div>
					<div class="quarter-label">winter</div>
                    <div class="quarter winter" id="5-winter">

                    </div>
					<div class="quarter-label">spring</div>
                    <div class="quarter spring" id="5-spring">

                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mobile/1.4.5/jquery.mobile.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.9/interact.min.js"></script>
        <script src="/js/menus.js"></script>
    </body>
</html>
